html, body {
	min-height:100%;
}

a {
	text-decoration:none;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom:10px;
}

div {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
	width: 650px;
	float: left;
	background-color: #ffffff;
	margin-top:40px;
	margin-bottom:80px;
	border:1px solid rgb(200,200,200);	
}

aside {
	width: 270px;
	float: right;
	background-color: #ffffff;
	margin-top:40px;
	border:1px solid rgb(200,200,200);
}

footer {
	background-color:#666666;
	text-align:center;
	height:80px;
	width:100%;
}

h1,h2,h3 {
	font-weight: bold;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	letter-spacing:1px;
}

h2 {
	color: #4aaaa5;
	padding-bottom:28px;
	border-bottom:2px solid rgb(220,220,220);
	/*margin: 30px;*/
}

h3 {
	font-size: 20px;
	color:#4aaaa5;
}

input,textarea {
	width:100%;
	border:2px solid rgb(230,230,230);
	height:16px;
}

textarea {
	height:140px;
}

.contact-heading {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin:10px 0px 10px 0px;

}

.top-contact {
	margin-top:20px;
}

.headshot {
	float:left;
	margin-top:25px;
	margin-right:30px;
}

.header {
	width: 960px;
	height: 80px;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	position: relative;
}

.footer-text {
	line-height: 80px;
	color: rgb(165,165,165);
}

.right-border {
	border-right: 1px solid rgb(220,220,220);
}

.about-me {
	width: 590px;
	margin: 30px;
}

.contact-forms {
	width: 590px;
	margin: 30px;
}

.portfolio {
	width: 590px;
	margin: 30px;
}

.pf-left,.pf-right {
	margin:20px 0px 20px 0px;
}

.pf-left {
	float:left;
}

.pf-right {
	float:right;
}

.pf-bottom {
	margin-bottom:40px;
}

.pf-image {
	position:relative;
	width:270px;
	height:200px;
}


.label {
	width:270px;
	height:50px;
	background-color:#4aaaa5;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.pf-1 {
	position:absolute;
	bottom:10px;
}

.pf-2 {
	position:absolute;
	bottom:10px;
}

.pf-3 {
	position:absolute;
	bottom:10px;
}

.pf-4 {
	position:absolute;
	bottom:10px;
}

.pf-5 {
	position:absolute;
	bottom:10px;
}


.main-page {
	background-color: #eeeeee;
	border-top: 2px solid rgb(150,150,150);
	border-bottom: 7px solid #4aaaa5;
}

.content-area {
	width: 960px;
	margin: 0px auto 0px auto;
	position: relative;
}

.connect {
	margin: 30px;
}

.connect-text {
	padding-bottom: 20px;
	border-bottom: 2px solid rgb(230,230,230);
}

.connect-links {
	display:inline-block;
	height:60px;
	width:60px;
	margin-top:20px;
}

.description {
	line-height:1.5;
}


.top-para {
	margin-top:25px;
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}

#header-text {
	height: 80px;
	width: 300px;
	background-color: #4aaaa5;
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
	float: left;
}

#nav {
	position: absolute;
	top: 32px;
	right: 0px;
}

#gh {
	float:left;
}

#so {
	float:right;
}

#li {
	margin-left:15px;
}

